{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
Welcome to {{self.title}} 
{{self.content}}

<div>
    {% for q in page.content %}
      <blockquote cite="{{ q.value.rich_text_sample }}">
        {{ q.value.rich_text_sample }}
      </blockquote>
    {% endfor %}
</div>

{% comment %}

{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}


{% endblock content %}
